* {
  margin: 0;
  padding: 0;
  color: #000;
}

body {
  font-family: 'comic Sans MS', sans-serif;
  font-weight: 700;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-row-center {
  justify-content: center;
}

.main-container {
  width: 70%;
}

.flex-item {
  width: 50%;
  margin-top: 2rem;
}

.header {
  align-self: start;
  font-size: 28px;
  letter-spacing: 0.05rem;
  margin-top: 1rem;
  margin-left: 14rem;
}

.header > * {
  padding: 1rem;
  user-select: none;
}

.result {
  width: 70%;
}

.result-message {
  text-align: center;
}

.scores-header {
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.scores-header > h2 {
  margin-right: 1rem;
}

.scores {
  padding: 0.4rem 0.8rem;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  border: 3px solid #000;
}

.scores-section > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

li {
  list-style-type: none;
}

.list-item:nth-child(2n) {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  margin: 0.4rem 0;
}

.input-section header {
  text-align: center;
  letter-spacing: 0.05rem;
  font-size: 22px;
}

.input-section input {
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid #000;
  width: 100%;
}

.input-section div * {
  margin-bottom: 1rem;
}

.input-section div {
  width: 65%;
}

#form {
  margin: 0;
}

#name,
#score {
  align-self: stretch;
}

.submit-button {
  padding: 0.5rem 1rem;
  margin-right: -29px;
  outline: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  transition: scale 0.1s;
  align-self: flex-end;
  border: 6px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.submit-button:active {
  scale: 1.05;
}

#result {
  padding: 0.25rem;
}

.refresh-button {
  padding: 0.5rem 1rem;
  margin-right: -30px;
  outline: none;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  transition: scale 0.1s;
  align-self: flex-end;
  border: 6px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.refresh-button:active {
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  .main-container {
    flex-direction: column-reverse;
    width: 100%;
  }

  .flex-item {
    width: unset;
  }

  section {
    margin-bottom: 1rem;
  }

  .header {
    margin-left: 2rem;
  }
}
